.user__card__func__panel{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
}

.user__card__func__panel__button1{
    background: none;
    border: none;
    border-right: 2px solid #c9c9c9;
    outline: none;
    width: 50%;
}

.user__card__func__panel__button2{
    background: none;
    border: none;
    outline: none;
    width: 50%;
}

.user__card__func__panel__button1:hover{
    background-color: #7d7d60;
}

.user__card__func__panel__button2:hover{
    background-color: #7a851a;

}